.App {
  text-align: center;
  background: linear-gradient(90deg, #1cb5e0, #000851);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 40px;
  box-sizing: border-box;
}

.textarea-container {
  position: relative;
}

textarea {
  height: 35vh;
  width: 90vw;
  margin: auto;
  resize: none;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid #0f4c75;
  outline: none;
  color: black;
}

textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
  border-radius: 10px !important;
  background-color: rgba(245, 245, 245, 0.6) !important;
}

textarea::-webkit-scrollbar {
  width: 12px !important;
}

textarea::-webkit-scrollbar-thumb {
  border-radius: 10px !important;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6) !important;
  background-color: #1b262c !important;
}

textarea:focus {
  box-shadow: -2px 3px 5px #1b262c;
}

.snackbar {
  position: absolute;
  top: 1px;
  right: 1px;
  min-width: 250px;
  margin-left: -125px;
  padding: 10px;
}

.error {
  background-color: #f8d7da;
  color: #721c24;
  border-color: #f5c6cb;
}

.success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(190, 35, 35, 0.3);
}
